/*.ftin p {
    font-family: "Lato", sans-serif;
    font-size: medium;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 20px;
}

.ftin img{
    margin-top: 17px;
}

.container-fluid h3{
    font-size: 45px;
    font-family: "Lato",sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 20px;
}
.ftin ul {
    margin-left: 148px;
}

.ftin ul li {
    padding-right: 10px; /* Adjust as needed 
}

.container-fluid a{
    text-decoration: none;
    color: black;
}

.container-fluid a:hover {
    color: gray;
    text-decoration: underline;
}

.container-fluid ul li {
    list-style: none;
}

.container-fluid h5 {
    padding-left: 20px;
    padding-top: 30px;
}

.set h3 {
    margin-top: 40px;
    font-family: "Lato", sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.set img {
    margin-right: 20px;
}*/
.f1 img{
    margin-left: 60px;
    padding-top: 10px;
}
.p1{
    font-family: "josefin Sans",sans-serif;
    font-size: larger;
    font-weight: 700;
    padding-left: 8px;
    color:  black;
    margin-top: 5px;
}

.Mn h6 {
    margin-top: 30px;
    margin-left: 30px;
    font-size: larger;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}

.Cp h6 {
    margin-top: 30px;
    margin-left: 30px;
    font-size: larger;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}
.footer-paragraph {
    font-family: "josefin Sans",sans-serif;
    font-size: larger;
    font-weight: 400;
    padding-left: 65px;
    color:  black;
    margin-top: 5px;
}


.SM h6 {
    margin-top: 30px;
    margin-left: 10px;
    font-size: larger;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}

.Mn ul {
    list-style: none;
}

.Mn ul a {
    text-decoration: none;
    color: rgb(106, 103, 103);
    font-size: large;
    font-family: "Josefin Sans", sans-serif;
}

.Mn ul li {
    padding-top: 8px;
}

.Mn ul a:hover {
    color: black;
}

.Cp ul {
    list-style: none;
}

.Cp ul a {
    text-decoration: none;
    color: rgb(106, 103, 103);
    font-size: large;
    font-family: "Josefin Sans", sans-serif;
}

.Cp ul li {
    padding-top: 8px;
}

.Cp ul a:hover {
    color: black;
}

.SM ul {
    list-style: none;
}

.SM ul li   a:hover {
    color: black;
    transform: scale(2);
}

.SM ul li {
    padding-top: 8px;
}
.TP p{
    padding-left:65px;
    margin-top: 20px;
    font-size: medium;
    font-family: "Josefin Sans", sans-serif;
}
.TP p a{
    text-decoration: none;
    color:  rgb(106, 103, 103);;

}
.TP p a:hover{
    text-decoration: none;
    color: rgb(17, 0, 255);
    
}